/*------------------------------------*\
    #COLORS
\*------------------------------------*/
// Blues
$color-blue-variant1: #2f4050;

// Greens
$color-green-variant1: #1ab394;

// Grays
$color-gray-variant1: #b9bbba;
$color-gray-variant2: #8d8e93;
$color-gray-variant3: #676a6c;
$color-gray-variant4: #585858;
$color-gray-variant5: #f5f5f5;
$color-gray-variant6: #dddddd;
$color-gray-variant7: #999c9e;

// Page links
$color-links: $color-blue-variant1;

// Buttons
$color-btn: $color-green-variant1;
$color-btn-disabled: $color-gray-variant1;
