/* ==========================================================================
#BUTTONS
========================================================================== */

/**
* This is an example component. Extend inuitcss by building your own components
* that make up your UI. Component classes are prefixed with a `c-`.
*/

/**
* 1. Allow us to style box model properties.
* 2. Line different sized buttons up a little nicer.
* 3. Make buttons inherit font styles (often necessary when styling `input`s as
*    buttons).
* 4. Reset/normalize some styles.
* 5. Force all button-styled elements to appear clickable.
*/

.c-btn {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin-top: 0; /* [4] */
  margin-right: 0; /* [4] */
  margin-bottom: 0; /* [4] */
  margin-left: 0; /* [4] */
  cursor: pointer; /* [5] */
  transition: $global-transition;
  border-width: 0;

  @include vendor(border-radius, 5px);
  @apply tw-px-4;
  @apply tw-py-2;
}

/* Style variants
========================================================================== */

.c-btn--primary {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6200+0,f79422+100 */
  background: $color-btn; /* Old browsers */

  &,
  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none; /* [4] */
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: lighten($color-btn, 5%);
  }
}

.c-btn--secondary {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#07bc7e+0,009b66+100 */
  background: #07bc7e; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #07bc7e 0%,
    #009b66 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #07bc7e 0%,
    #009b66 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #07bc7e 0%,
    #009b66 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07bc7e', endColorstr='#009b66',GradientType=0 ); /* IE6-9 */
  padding: 8px 15px;
  color: #fff;

  &:hover,
  &:focus {
    outline: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#06b276+0,00925f+100 */
    background: #06b276; /* Old browsers */
    background: -moz-linear-gradient(
      top,
      #06b276 0%,
      #00925f 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #06b276 0%,
      #00925f 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #06b276 0%,
      #00925f 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06b276', endColorstr='#00925f',GradientType=0 ); /* IE6-9 */
  }
}

.c-btn--tertiary {
  background-color: #fff;
  color: #4a8ec2;

  &,
  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
    color: #4a8ec2;
  }

  &:hover,
  &:focus {
    color: #3774a2;
  }
}

/* Size variants
========================================================================== */

.c-btn--small {
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
}

.c-btn--large {
  padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;
}

/* Ghost buttons
========================================================================== */

/**
* Ghost buttons have see-through backgrounds and are bordered.
*/

$btn-ghost-border-width: 2px;

.c-btn--ghost {
  border: $btn-ghost-border-width solid currentColor;
  padding: ($inuit-global-spacing-unit-small - $btn-ghost-border-width)
    ($inuit-global-spacing-unit - $btn-ghost-border-width);

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

  &.c-btn--small {
    padding: ($inuit-global-spacing-unit-tiny - $btn-ghost-border-width)
      ($inuit-global-spacing-unit-small - $btn-ghost-border-width);
  }

  &.c-btn--large {
    padding: ($inuit-global-spacing-unit - $btn-ghost-border-width)
      ($inuit-global-spacing-unit-large - $btn-ghost-border-width);
  }

  &.c-btn--primary {
    color: #4a8ec2;

    &:hover,
    &:focus {
      color: #3774a2;
    }
  }

  &.c-btn--secondary {
    color: #2f4054;

    &:hover,
    &:focus {
      color: #1d2733;
    }
  }

  &.c-btn--tertiary {
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

.c-btn--disabled {
  background: $color-btn-disabled;
  cursor: not-allowed;

  &,
  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none; /* [4] */
    color: #fff;
    background: $color-btn-disabled;
  }

  &:hover,
  &:focus {
    background: $color-btn-disabled;
  }
}
